   p, li, span {
      font-family: "Open Sans";
    }
    h1 {
      font-family: Michroma;
    }

    html {
      scroll-behavior: smooth;
    }


    #body-element{
      background-color: black;
      padding-bottom: 1000px;
      margin: 0px !important;
    }


    #cars-grid {
      width: 100%;
      height: 100vh;
      background-color: lightblue;
    }


/* Medium devices (Mobile) */
@media only screen and (max-width: 768px) {
  .menu-left{ 
    display: none;
  }

  .menu-right {
    display: none;
  }

  .icons-container {
    display: none;
  }

  .year-options-container .year-selector{
    display: none;
  }

  .bottom-header{
    display: none !important;
  }
}
